@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


:root {
    --main: #e8b90d;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}
/*
@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
}
@mixin graphText($graphSize){
    font-size:$graphSize;
    color: var(--black);
    text-transform: capitalize;
    line-height: 1.5;
}
@mixin iconsBox(){
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;

    &:hover{
        background: var(--black);
        color: var(--white);
    }
}*/

*{
    font-family: 'Poppins', sans-serif;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none; transition: all .2s linear;
}

html{
    font-size:62.5%;
  /*  overflow: hidden;*/
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

} 
.box{
    cursor: pointer;
}
html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--main);
}

section{
    padding: 5rem 10% ;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
   
}
.btn:hover{
    background: var(--main);
    color: var(--white);
}


@keyframes fadeIn {
    0%{
        top: 50%;
        opacity: 0;
    }
}

@keyframes fadIn {
    0%{
        transform: scale(.5);
        opacity: 0;
    }
}

.header{
    position: sticky;
    top: 0; right: 0; left: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: var(--white);
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
}
.header .logo span{
    color: var(--main);
}

.navbar a{
    font-size: 2rem;
    margin: 0 1rem;
    color: var(--light-color);
}
.navbar a:hover{
    color: var(--main);
}

.icons div{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-left: .3rem;
    flex-direction: row;
    
}
.icons div:hover{
    background: var(--black);
        color: var(--white);
}
#menu-btn{
    display: none;
}
.search-form{
    position: absolute;
    top: 120%; left: 50%;
    transform: translate(-50%);
    width: 70rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 1rem;
    display: none;
    align-items: center;
    gap: 1rem;
    animation: fadeIn .2s linear;
}
.active{
    display: flex;
    
}

.search-form input{
    width: 90%;
    padding: 1.1rem 1.4rem;
    background: var(--light-bg);
    font-size: 1.6rem;
    color: var(--light-color);
}
.search-form label{
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    margin: 0 1rem;
}
.search-form label:hover{
    color: var(--main);
}

.login-form{
    position: absolute;
    top: 120%; left: 50%;
    transform: translate(-50%);
    width: 45rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    animation: fadeIn .2s linear;
    display: none;
}
.active{
    display: block;
}
.login-form .btn{
    width: 100%;
}
.login-form h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.login-form .box{
    width: 100%;
    padding: 1.3rem 1.4rem;
    background: var(--light-bg);
    font-size: 1.6rem;
    color: var(--light-color);
    margin: .7rem 0;
}
.login-form .flex{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}
.login-form .flex label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}
.login-form .flex a{
    font-size: 1.5rem;
    color: var(--light-color);
    margin-left: auto;
}
.login-form .flex  a:hover{
    color: var(--main);
    text-decoration: underline;
}
.login-form p{
    color: var(--black);
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 1.5rem;
}
.login-form p a{
    color: var(--main);
}
.login-form p a:hover{
    text-decoration: underline;
}

.contact-info{
    position: fixed;
    top: 0; right: 0;
    width: 34rem;
    background: var(--white);
    height: 100%;
    text-align: center;
    z-index: 1100;
    padding: 0 2rem;
    padding-top: 5rem;
    display: none;
}
.contact-info.active{
    box-shadow: 0 0 0 1000vh rgba(0, 0, 0, .7);
    display: block;

}
#close-contact-info{
    position: absolute;
    top: 1rem; right: 1.5rem;
    cursor: pointer;
    font-size: 4rem;
    color: var(--black);
}
#close-contact-info:hover{
    transform: rotate(90deg);
}

.contact-info .info{
    padding: 2 rem 0;
}
.contact-info .info i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-bottom: .5rem;
}
.contact-info .info i:hover{
    background: var(--black);
    color: var(--white);
}
.contact-info h3{
    font-size: 2rem;
    padding:1rem 0;
}
.contact-info p{
    font-size:1.5rem;
    color: var(--black);
    text-transform: capitalize;
    line-height: 1.5;
}
.share{
    padding-top: 1rem;
    border-top: var(--border);
    margin-top: 2rem;
}
.share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin: 0 .3rem;
}

.home{
    padding: 0;
}
.home .slide{
    min-height: 60rem;
    display: flex;
    align-items: center; 
    position: relative;
    background-size: cover !important;
    background-position: center !important;
}
.home .slide::before{
    content: "";
     position: absolute;
     top: 0; left: 0;
     height: 100%;
     width: 100%;
     background: linear-gradient(90deg, var(--white), transparent);
}
.home .slide .content{
    width: 50rem;
    position: relative;
}
.home .slide .content h3{
    font-size: 5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.home .slide .content p{
    font-size:1.5rem;
    color: var(--black);
    text-transform: capitalize;
    line-height: 1.5;
}


.swiper-button-next,
.swiper-button-prev{
    display: flex;
    align-items: center;

    bottom: 0;
  
    height: 7rem;
    width: 7rem;
    background: var(--white);
    color: var(--black);
    line-height:7rem ;
}
.swiper-button-next,
.swiper-button-prev:hover{
    background: var(--main);
    color: var(--white);
}
.swiper-button-next:hover,
.swiper-button-prev:hover::after{
    font-size: 2rem;
    color: var(--black);
}
.swiper-button-prev{
    right: 7rem;
}

.heading{
    margin-bottom: 3rem;
    padding-left: 1rem;
    border-left:1rem solid var(--main);
    color: var(--black);
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 3rem;
}

/* Fin de header et sub header */

.info-contact .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(25rem , 1fr));
    gap: 3rem;
}
.info-contact .box-container .box{
    background: var(--white);
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
}
.info-contact .box-container .box i{
    height:7.5rem ;
    width: 7.5rem;
    line-height: 7.5rem;
    font-size:2rem ;
    margin-bottom: .5rem;
    border-radius: 50%;
    background: var(--main);
    color: var(--white);
}
.info-contact .box-container .box h3{
    font-size: 2rem;
    padding: .5rem 0;
    color: var(--black);
}
.info-contact .box-container .box p{
    font-size: 1.5rem;
    line-height: 2;
    color: var(--light-color);
}

.contact{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact form{
    flex: 1 1 42rem;
}

.contact input , textarea{
    padding: 1.2rem 1.4rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--white);
    font-size: 1.7rem;
    margin: .7rem 0;
    text-decoration: none;
    color: var(--light-color);
}
.contact textarea{
    height: 16rem;
    width: 100%;
    resize: none;
}

.contact .map{
    flex: 1 1 42rem;
    width: 100%;

}
.contact form h3{
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 1rem;
    text-transform: uppercase;

}
.contact form p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 2;
    padding: .5rem;
}
.contact form .inputBox{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contact form .inputBox input{
    width: 49%;
    border: var(--border);
    background: white;
}

.newletter{
    background: var(--main);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.newletter .content{
    flex: 1 1 42rem;
}
.newletter .content h3{
    color: var(--white);
    text-transform: uppercase;
    font-size: 6rem;
}
.newletter .content p{
    font-size: 2.2rem;
    color: var(--white);
}
.newletter form{
    flex: 1 1 42rem;
    background: var(--white);
    display: flex;
    padding: .5rem;
    border-radius: .5rem;
   
}
.newletter form .email{
    width: 100%;
    padding: 0 1.4rem;
    text-transform: none;
    color: var(--light-color);

}

.newletter form .btn{
    margin-top: 0;
    border-radius: .5rem;
}















/* debut de footer */

.quick .logo{
    color: white;
    font-size: 2rem;
}

 .navbar2 a{
    font-size: 2rem;
    margin: 0 1rem;
    color: var(--white);
    
}
 .navbar2 a:hover{
    color: var(--main);
}

.quick .logo i{
    color:var(--main);
    font-size: 3rem;
}
.quick .logo i span{
    color: white;
    font-weight: 200;
}
.quick .logo i span b{
    color: var(--main);
}

.share-2 a{
    line-height: 5rem;
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    text-align: center;
    margin: 0 .3rem;
}
.share-2 a:hover{
    color: var(--main);
}

.credit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: white;
}

.credit p{
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 200;
}
.credit p span {
    color: var(--main);

}









































@media (max-width:1200px){
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 3rem 5% ;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
    .header #menu-btn{
        
            display: inline-block;
        }

        .navbar{
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: var(--white);border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

            
        }
        .navbar.active{
            clip-path: polygon(0 0, 100% 0 , 100% 0, 0 0);
        }
        .navbar a{
            display: block;
            margin: 2rem;
        }

        
    }
    @media (max-width:768px){
        .header .search-form{
            width: 90%;
        }
        .header .login-form{
            width: 90%;

        }
        .home .slide{
            justify-content: center;
        }
        .home .slide .content{
            text-align: center;
        }
        .home .slide h3{
            font-size: 3rem;
        }
        .quick{
            flex-flow: column;
            text-align: center;

        }
        .navbar2{
            padding: 2rem 0;
        }
        .navbar2 a{
            display: block;
            font-size: 2rem;
            padding: 1rem 0;
        }
        .share-2 a{
            margin: 0 1rem;

        }
        .credit{
            flex-flow: column;
        }
        .arrivals .box-container .box{
            flex-flow: column;
            text-align: center;
            gap: 2rem;
        }
        .content form .inputBox input{
            width: 100%;
        }
    }

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .newletter{
        text-align: center;

    }
    .newletter .content{
        font-size: 4rem;
    }
    .newletter .content p{
        font-size: 1.7rem;
    }
}

@media (max-width:352px){
    html{
        font-size: 40%;
    }
    .header .search-form{
        width: 90%;
    }
    .header .login-form{
        width: 90%;

    }
    .home .slide{
        justify-content: center;
    }
    .home .slide .content{
        text-align: center;
    }
    .home .slide h3{
        font-size: 3rem;
    }
    .quick{
        flex-flow: column;
        text-align: center;

    }
    .navbar2{
        padding: 2rem 0;
    }
    .navbar2 a{
        display: block;
        font-size: 2rem;
        padding: 1rem 0;
    }
    .share-2 a{
        margin: 0 1rem;

    }
    .credit{
        flex-flow: column;
    }
    .arrivals .box-container .box{
        flex-flow: column;
        text-align: center;
        gap: 2rem;
    }
    .content form .inputBox input{
        width: 100%;
    }
    @media (max-width:242px){
        html{
            font-size: 25%;
        }
        .header{
            padding: 1rem 1.5rem;
        }
        .navbar{
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: var(--white);border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
            
        }
        .navbar.active{
            clip-path: polygon(0 0, 100% 0 , 100% 0, 0 0);
        }
        .navbar a{
            display: block;
            margin: 1rem;
        }
    }
    
    
}




/*
@media (max-width:1200px){
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 3rem 5% ;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }
    .header #menu-btn{
        
            display: inline-block;
        }

        .navbar{
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: var(--white);border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

            
        }
        .navbar.active{
            clip-path: polygon(0 0, 100% 0 , 100% 0, 0 0);
        }
        .navbar a{
            display: block;
            margin: 2rem;
        }

        
    }
    @media (max-width:768px){
        .header .search-form{
            width: 90%;
        }
        .header .login-form{
            width: 90%;

        }
        .home .slide{
            justify-content: center;
        }
        .home .slide .content{
            text-align: center;
        }
        .home .slide h3{
            font-size: 3rem;
        }
        .quick{
            flex-flow: column;
            text-align: center;

        }
        .navbar2{
            padding: 2rem 0;
        }
        .navbar2 a{
            display: block;
            font-size: 2rem;
            padding: 1rem 0;
        }
        .share-2 a{
            margin: 0 1rem;

        }
        .credit{
            flex-flow: column;
        }
        .arrivals .box-container .box{
            flex-flow: column;
            text-align: center;
            gap: 2rem;
        }
        .content form .inputBox input{
            width: 100%;
        }
    }

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .newletter{
        text-align: center;

    }
    .newletter .content{
        font-size: 4rem;
    }
    .newletter .content p{
        font-size: 1.7rem;
    }
}
*/